<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>USERS</title>
</head>
<body>
<h1>Table USERS</h1>
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>LASTNAME</th>
    <th>AGE</th>
    <th>EMAIL</th>
    <th>LOGIN</th>
    <th>Pass</th>
    <th>ROLE</th>
    <th>#</th>
  </tr>
  <tr>
  <tr th:each="user : ${userList}">

    <td th:utext="${user.getId()}">id</td>
    <td th:utext="${user.getUsername()}">user</td>
    <td th:utext="${user.getUserlastname()}">lastname</td>
    <td th:utext="${user.getAge()}">age</td>
    <td th:utext="${user.getEmail()}">email</td>
    <td th:utext="${user.getLogin()}">login</td>
    <td th:utext="${user.getPass()}">Pass</td>
    <td>
    <p th:each="role : ${user.getRoles()}">
      <span th:text="${role.name}">Street</span>
    </p>
    </td>
    <td> <a th:href="@{/admin/user/{id}(id=${user.getId()})}"  > EDIT </a></td>
  </tr>
</table>
<div>
  <br/>
  <hr>

  <a th:href="@{http://localhost:8088/admin/user/new}"> Create new User  </a>
  <br>
  <button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>
</div>

</body>
</html>