<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration -  New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}" th:object="${user}" >
    <label for ="username">Enter Name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for ="userlastname">Enter Last Name: </label>
    <input type="text" th:field="*{userlastname}" id="userlastname"/>
    <br/>
    <label for ="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for ="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for ="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <label for ="email">Enter pass: </label>
    <input type="text" th:field="*{pass}" id="pass"/>
    <br/>

    <th:block th:each="role: ${listRoles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}" class="m-2" />
    </th:block>



    <input type="submit" value="create"/>
</form>


</body>
</html>