<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U S E R</title>
</head>
<body>
<p th:text="${user.getId()}"VALUE </p>
<p th:text="${user.getUsername()}"VALUE </p>
<p th:text="${user.getUserlastname()}"VALUE </p>
<p th:text="${user.getAge()}"VALUE </p>
<p th:text="${user.getEmail()}"VALUE </p>
<p th:text="${user.getLogin()}"VALUE </p>
<p th:text="${user.getPass()}"VALUE </p>

    <p th:each="role : ${user.getRoles()}">
        <span th:text="${role.name}">Street</span>
    </p>

<br/>
<hr/>

<a th:href="@{/admin/user/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/user/{id}(id=${user.getId()})}">
    <input type="submit" value="delete">

</form>

<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>
</body>
</html>