<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U S E R</title>
</head>
<body>
<p th:text="${user.getId()}"VALUE </p>
<p th:text="${user.getUsername()}"VALUE </p>
<p th:text="${user.getUserlastname()}"VALUE </p>
<p th:text="${user.getAge()}"VALUE </p>
<p th:text="${user.getEmail()}"VALUE </p>
<p th:text="${user.getLogin()}"VALUE </p>
<p th:text="${user.getPass()}"VALUE </p>
<p th:text="${user.getRoles()}"VALUE </p>
<br/>
<hr/>

<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>


</body>
</html>